@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	font-size: 10px;
	font-family: 'Montserrat', sans-serif;
	scroll-behavior: smooth;
}


.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    color: #fff;
    font-size: 21px;
    padding: 10px;
    -moz-osx-font-smoothing: grayscale;
}
.fa :hover, .fa :active{
  color:crimson;
}
.row {
    width: 100%;
    position: relative;
}
a {
	text-decoration: none;
}
.container {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}
p {
 text-align: justify;
	color: #fff;
	font-size: 1.4rem;
	margin-top: 5px;
	line-height: 2.5rem;
	font-weight: 300;
	letter-spacing: 0.05rem;
}
.section-title {
	font-size: 4rem;
	font-weight: 300;
	color: #fff;
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	text-align: center;
}
.section-title span {
	color: crimson;
}

.read-more-btn {
	display: inline-block;
	padding: 10px 30px;
	color: white;
	background-color: transparent;
	border: 2px solid crimson;
  border-radius: 5px;
	font-size: 1rem;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	margin-top: 30px;
	transition: 0.3s ease;
	transition-property: background-color, color;
  
}
.read-more-btn:hover {
	color: white;
	background-color: crimson;
}
.brand h1 {
	font-size: 2rem;
	text-transform: uppercase;
	color: white;
}
.brand h1 span {
	color: crimson;
}

/* Header section */
#header {
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100vw;
	height: auto;
}
#header .header {
	min-height: 8vh;
	background-color: rgb(63 63 63);;
	transition: 0.3s ease background-color;
}
#header .nav-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	max-width: 1300px;
	padding: 0 10px;
}
#header .nav-list ul {
	list-style: none;
	position: absolute;
	background-color: rgb(31, 30, 30);
	width: 100vw;
	height: 100vh;
	left: 100%;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1;
	overflow-x: hidden;
	transition: 0.5s ease left;
}
#header .nav-list ul.active {
	left: 0%;
}
#header .nav-list ul a {
	font-size: 2.5rem;
	font-weight: 500;
	letter-spacing: 0.2rem;
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	padding: 20px;
	display: block;
}
#header .nav-list ul a::after {
	content: attr(data-after);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	color: rgba(240, 248, 255, 0.021);
	font-size: 13rem;
	letter-spacing: 50px;
	z-index: -1;
	transition: 0.3s ease letter-spacing;
}
#header .nav-list ul li:hover a::after {
	transform: translate(-50%, -50%) scale(1);
	letter-spacing: initial;
}
#header .nav-list ul li:hover a {
	color: crimson;
}
#header .hamburger {
	height: 60px;
	width: 60px;
/* 	display: inline-block; */
	border: 3px solid white;
	border-radius: 50%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100;
	cursor: pointer;
	transform: scale(0.8);
	margin-right: 20px;
}
#header .hamburger:after {
	position: absolute;
	content: '';
	height: 100%;
	width: 100%;
	border-radius: 50%;
	border: 3px solid white;
	animation: hamburger_puls 1s ease infinite;
}
#header .hamburger .bar {
	height: 2px;
	width: 30px;
	position: relative;
	background-color: white;
	z-index: -1;
}
#header .hamburger .bar::after,
#header .hamburger .bar::before {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	background-color: white;
	transition: 0.3s ease;
	transition-property: top, bottom;
}
#header .hamburger .bar::after {
	top: 8px;
}
#header .hamburger .bar::before {
	bottom: 8px;
}
#header .hamburger.active .bar::before {
	bottom: 0;
}
#header .hamburger.active .bar::after {
	top: 0;
}

/* End Header section */

/* Hero Section */
#hero {  
  background-image: url(https://wallpaperaccess.com/full/2901843.png);
	background-size: cover;
	background-position: top center;
	position: relative;
	z-index: 1;
  overflow-y: auto;
}
#hero::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 1080px;
	width: 100%;
	background-color: black;
	opacity: 0.7;
	z-index: -1;
}


#hero .hero {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 50px;
}
#main {
    display: flex;
    flex-direction: row;
    width: 80%;
    max-height: 750px;
    min-height: 200px;
    margin: -35px 0 0 -35px;
    position: absolute;
    top: 200px;
}
#formmain {
display: flex;
    /* flex-direction: row; */
    width: 70%;
    /* max-height: 750px; */
    /* min-height: 200px; */
    margin: -35px 0 0 -35px;
    position: absolute;
    /* left: 50%; */
    top: 20%;
    /* transform: translate(-50%,-50%); */
    background-color: #d1c8c914;
}

#img-div {
    padding: 0px 50px;
    width: 40%;
}
#aboutme{
      width: 60%;
}
#hero h1 {
	display: block;
	width: fit-content;
	font-size: 2rem;
	position: relative;
	color: transparent;
	animation: text_reveal 0.5s ease forwards;
	animation-delay: 1s;
}
#hero h1:nth-child(1) {
	animation-delay: 1s;
}
#hero h1:nth-child(2) {
	animation-delay: 2s;
}
#hero h1:nth-child(3) {
	animation: text_reveal_name 0.5s ease forwards;
	animation-delay: 3s;
}

#hero p {
	display: block;
	width: fit-content;
	font-size: 1.5rem;
	position: relative;
	color: transparent;
	animation: text_reveal 0.5s ease forwards;
	animation-delay: 5s;
}
#hero .read-more-btn {
	display: block;
	width: fit-content;
	font-size: 1rem;
	position: relative;
	color: transparent;
	animation: button_reveal 0.5s ease forwards;
	animation-delay:6.5s;
  border: 2px solid transparent;
}

#hero h1 span {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 0;
	background-color: crimson;
	animation: text_reveal_box 1s ease;
	animation-delay: 0.5s;
}
#hero p span:nth-child(2) {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 0;
	background-color: crimson;
	animation: text_reveal_box 1s ease;
	animation-delay: 4s;
}
#hero .read-more-btn span {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 0;
	background-color: crimson;
	animation: text_reveal_box 1s ease;
	animation-delay: 6s;
}
#hero h1:nth-child(1) span {
	animation-delay: 0.5s;
}
#hero h1:nth-child(2) span {
	animation-delay: 1.5s;
}
#hero h1:nth-child(3) span {
	animation-delay: 2.5s;
}
#hero p span:nth-child(2) {
	animation-delay: 4s;
}
#hero .read-more-btn span {
	animation-delay: 6s;
}
.text {
  font-size: 24px;
}
.moreText {
  display: none;
}
.text.show-more .moreText {
  display: inline-flex;
}
.text.show-more .dots {
  display: none;
}

#myimage {
    max-height: 325px;
    max-width: 325px;
    border-radius: 50%;
    display: flex;
}
.mycards{
  display:none;
  margin-top:50px;
}
.mycardshow{
  display:inline-flex;
  margin-top:50px;
  width:100%
}
.social{
          width: 675px;
    position: relative;
    height: 200px;

}
.contact-btn{
display: block;
    width: fit-content;
    font-size: 1.5rem;
    float: right;
    color: #fff;
    background-color: crimson;
    border: 2px solid crimson;
    padding: 10px 40px;
    border-radius: 5px;
    margin-top: 30px;
  text-transform:uppercase;

 
}

.flip-card {
    background-color: transparent;
    width: 30%;
    height: 250px;
    border: 1px solid #424242;
    perspective: 1000px;
    border-radius: 5px;
    display: flex;
    margin-right:5%;
}
.flip-card:nth-child(3){
    background-color: transparent;
    width: 30%;
    height: 250px;
    border: 1px solid #424242;
    perspective: 1000px;
    border-radius: 5px;
    display: flex;
    margin-right:0;
}
/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #424242;
  color: crimson;
}
.flip-card-front h1{
    left: 50%;
    top: 15%;
    transform: translate(-50%,-0);
}

/* Style the back side */
.flip-card-back {
    background-color: #424242;
    color: #ffffff;
    transform: rotateY(180deg);
    padding: 50px;
    text-align: justify;
    font-size: 12px;
    font-weight: 700;

}


/* End Hero Section */



/* Keyframes */
@keyframes hamburger_puls {
	0% {
		opacity: 1;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(1.4);
	}
}
@keyframes text_reveal_box {
	50% {
		width: 100%;
		left: 0;
	}
	100% {
		width: 0;
		left: 100%;
	}
}
@keyframes text_reveal {
	100% {
		color: white;
	}
}
@keyframes button_reveal {
	100% {
		color: white;
    border: 2px solid crimson;
	}
}
@keyframes text_reveal_name {
	100% {
		color: crimson;
		font-weight: 500;
	}
}
/* End Keyframes */

/* Media Query For Tablet */
@media only screen and (min-width: 768px) {
	.cta {
		font-size: 1.5rem;
		padding: 10px 30px;
	}
	h1.section-title {
		font-size: 2rem;
	}

	/* Hero */
	#hero h1 {
		font-size: 2rem;
	}
	/* End Hero */



/* End Media Query For Tablet */

/* Media Query For Desktop */
@media only screen and (min-width: 1200px) {
	/* header */
	#header .hamburger {
		display: none;
	}
	#header .nav-list ul {
		position: initial;
		display: block;
		height: auto;
		width: fit-content;
		background-color: transparent;
	}
	#header .nav-list ul li {
		display: inline-block;
	}
	#header .nav-list ul li a {
		font-size: 1.5rem;
	}
	#header .nav-list ul a:after {
		display: none;
	}
	/* End header */


/* End  Media Query For Desktop */

#contacthero {  
  background-image: url(https://wallpaperaccess.com/full/2901843.png);
	background-size: cover;
	background-position: top center;
	position: relative;
	z-index: 1;
  overflow-y: auto;
}

#contacthero::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: black;
	opacity: 0.7;
	z-index: -1;
}

  #contacthero .contacthero {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 50px;
}
  #registrationhero {  
  background-image: url(https://wallpaperaccess.com/full/2901843.png);
	background-size: cover;
	background-position: top center;
	position: relative;
	z-index: 1;
    height: 1080px;
  overflow-y: auto;
}
#registrationhero::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 1080px;
	width: 100%;
	background-color: black;
	opacity: 0.7;
	z-index: -1;
}

  #registrationhero .registrationhero {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 50px;
}
  #registrationhero  .registrationhero{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
}

.formbackground{
  position: relative;
    padding: 35px 20px 40px;
    left: 50%;
    top: 50%;
    border-radius: 10px;
    width: 90%;
    max-width: 430px;
    background: #d1c8c914;
    min-height: 400px;
}
    .contactformside{
    width: 40%;
    background-color: #06004205;
    position: relative;
    justify-content: center;
    display: flex;
    font-size: 24px;
    line-height: 2rem;
    align-items: center;
}
  .contactformside .details{
    padding: 30px;
    font-weight: 700;
    font-size: 16px;
}
    .contactformside .details p{

    font-weight: 500;
    font-size: 16px;
}
  .contactformbackground{
    width: 60%;
    background: #d1c8c914;
    min-height: 500px;
}
}
  .regformbackground{
  position: relative;
    padding: 35px 20px 40px;
    left: 50%;
    top: 80%;
    transform: translate(-50%,-50%);
    border-radius: 10px;
    width: 90%;
    max-width: 430px;
    background: #d1c8c914;
    min-height: 700px;
}
.formbackground .sign-title {
    text-align: center;
    padding: 0 0 10px;
}
  .regformbackground .sign-title {
    text-align: center;
    padding: 0 0 10px;
}
  .contactformbackground .sign-title {
    text-align: center;
    padding: 0 0 10px;
}
.sign-form {
    padding: 0 20px;
  width:100%;
  margin: 40px 0;
}
  .sign-form .row{
    width: 100%;
    position: relative;
    display: flex;
    height: 100px;
  }
  .contact-form {
    padding: 10% 12%;
}

.sign-title {
    color: crimson;
    padding: 0 0 20px;
    font-size: 20px;
    font-weight: 600;
}
.sign-form .form-group {
  margin-bottom: 1rem;
    width: 45%;
    margin-right: 2.5%;
    margin-left: 2.5%;
}
  .form-group {
  margin-bottom: 1rem;
}
  .full-form-group {
  margin-bottom: 1rem;
    width: 90%;
    margin-right: 2.5%;
    margin-left: 2.5%;
}
label {
    display: block;
    padding: 0 0 4px;
    margin: 0;
    font-weight: 600;
    font-size: 13px;
    color: #fff;
}
.form-control {
    display: block;
    width: 100%;
    height: 38px !important;
    padding: 0.375rem 0.75rem;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.5;
    color: #2c292a;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
      input:focus, textarea:focus, select:focus{
        outline: 1px solid crimson;
        box-shadow:1px solid crimson;
    }

.form-control-textarea{
      display: block;
    width: 100%;
    height: 100px !important;
    padding: 0.375rem 0.75rem;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.5;
    color: #2c292a;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  
}

  .form-row>.col{
    width:100%

}
.btn_crimson {
background: crimson;
    color: #fff;
    display: block;
    border: none;
    height: 40px;
    font-weight: 500;
    font-size: 15px;
    border-radius: 6px;
    margin-top: 40px;
    text-align: center;
    padding: 10px;
  width: 100%;
}
  .sign-form .btn_crimson {
background: crimson;
    color: #fff;
    display: block;
    border: none;
    height: 40px;
    font-weight: 500;
    font-size: 15px;
    border-radius: 6px;
    margin-top: 40px;
    text-align: center;
    padding: 10px;
  width: 95%;
}
  .btn_side {
    background: #706b6c;
    color: #fff;
    display: block;
    border: none;
    height: 40px;
    font-weight: 500;
    font-size: 15px;
    border-radius: 6px;
    margin-top: 20px;
    text-align: center;
    padding: 10px;
    width: 100%;
}
    .reset-account {
    font-size: 10px;
    text-align: left;
    color: #fff;
    margin: 0 0 0;
}
.reset-account a,.new-account a{
  color:crimson
}
  .new-account {
    font-size: 12px;
    text-align: center;
    color: #fff;
    margin: 0 0 0;
}

#login-main {
    display: flex;
    flex-direction: row;
    width: 80%;
    max-height: 750px;
    min-height: 200px;
    margin: -35px 0 0 -35px;
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%,-50%);
}
  .circle{
    background: #706b6c;
    color: #ffffff;
    padding: 5px;
    border-radius: 50%;
    display: flex;
    justify-content:center;
    height: 60px;
    width: 60px;
    left: 37.5%;
    margin: 0 auto;
    position: absolute;
    top: 40%;
  }


/* Footer */
#footer {
	background-color: #424242;
}
#footer .footer {
	min-height: 200px;
	flex-direction: column;
	padding-top: 50px;
	padding-bottom: 10px;
}
#footer h2 {
	color: white;
	font-weight: 500;
	font-size: 1.8rem;
	letter-spacing: 0.1rem;
	margin-top: 10px;
	margin-bottom: 10px;
}
#footer .social-icon {
	display: flex;
	margin-bottom: 30px;
}
#footer .social-item {
	height: 50px;
	width: 50px;
	margin: 0 5px;
}
#footer .social-item img {
	filter: grayscale(1);
	transition: 0.3s ease filter;
}
#footer .social-item:hover img {
	filter: grayscale(0);
}
#footer p {
	color: white;
	font-size: 1.3rem;
}
/* End Footer */
